<!DOCTYPE html>
<html lang="en">
<head>
   <%-include('./partials/head.ejs')%>
<link rel="stylesheet" href="/css/styles.css" type="text/css" >
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" >Log Out</a></li>
            <li><a type="button">User Profile</a></li>
           
        </ul>
    </nav>
    <form id="logout-form" action="/logout" method="POST" style="display: none;">
    <input type="hidden" name="_method" value="POST">
    {{ csrf_field() }}
</form>
       <header>
       
        <h1><b>TASKS FOR THE DAY</b></h1>
        <br>
        <br>
            <form id="taskform" >
                <input type="text" name="taskinput" id="taskinput" placeholder=" Enter your plan for the day">
                <div id="submitTodo"> <input type="submit" id="tasksubmit" value="Add Task" onclick="onSubmitTodo(event)"></div>
                <br>
                <span id="errorMsg"></span>

            </form>
          <br>
    
        </header>
        <main>
            <section class="tasklist">
                
                <h1 >MY TO DO LIST </h1>
                <button type="submit" id="del" onclick="deleted(event)">Delete All</button>
                <br>
                <div id="tasks">
        <table class="table table-bordered" id="myTable" >
            <thead>
                <tr>
                    <th>Id</th>
                    <th>ToDo</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="toDoBody">
                <% findAllTodo.forEach((index) =>{%>
                
                    <tr>
                    <td>
                        <%= index.id%>
                    </td>
                    <td>
                        <%= index.todo%>
                    </td>
                    <td>
                        <input type="checkbox" title="check" id="checkboxx"  data-id= "<%-index.id%>" onclick="checkedBox(this)"
                        <%= index.isDone? 'checked':'' %> >
                        <button id="btn" data-todoId="<%-index.id%>" onclick = "getTodo(this)" >Update</button>
                    </td></tr>
        
                  <% })%>
            </tbody>
        </table>
                </div>
            </section>
            
        </main>
        </div>
       
    
</body>
</html>