<!DOCTYPE html>
<html lang="en">
<head>
   <%-include('./partials/head.ejs')%>
<link rel="stylesheet" href="/css/styles.css" type="text/css" >
<script src="https://kit.fontawesome.com/c9746b4779.js" crossorigin="anonymous"></script>
</head>
<body>
    <script src="https://kit.fontawesome.com/c9746b4779.js" crossorigin="anonymous"></script>
    <nav class="navbar">
        <ul>
            <li><a type="button" href="/logout">Log Out</a></li>
            <li id="buTTon"><input id="userButton" type="submit" value="User Profile" data-user="${req.user.id}"  onclick="userProfile(this)"></li>
           
        </ul>
    </nav>
    <form class="form container" >
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1"  >
          <button type="button" id="submitemail"><i class="fa-solid fa-pen"></i></button>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
          <button type="button" data-toggle="modal" class="btn" data-target="#exampleModal"><i class="fa-solid fa-pen"></i></button>
         
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Reset Your Password</h1>
                  
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="password" class="form-control" placeholder="New Password" id="oldPass">
                    <input type="password" class="form-control" placeholder="Confirm New Password" id="newPass">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        <div class="mb-3">
          <label for="exampleInputfirstName" class="form-label">First Name</label>
          <input type="text" class="form-control" id="exampleInputfirstName" >
          <button type="button" id="submitfirstName"><i class="fa-solid fa-pen"></i></button>
        </div>
        <div class="mb-3">
          <label for="exampleInputlastname" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="exampleInputlastname">
          <button type="button" id="submitlastName"><i class="fa-solid fa-pen"></i></button>
        </div>

        <button type="submit" class="btn btn-primary">Cancel</button>
        <button type="submit" class="btn btn-primary" id="submitAll" onclick="SaveChanges(event)">Update</button>
      </form>

    <!-- <form id="logout-form" action="/logout" method="POST" style="display: none;">
    <input type="hidden" name="_method" value="POST">
    {{ csrf_field() }}
</form> -->
       <header id="header">
       
        <h1><b>TASKS FOR THE DAY</b></h1>
        <br>
        <br>
            <form id="taskform" >
                <input type="text" name="taskinput" id="taskinput" placeholder=" Enter your plan for the day">
                <div id="submitTodo"> <input type="submit" id="tasksubmit" value="Add Task" onclick="onSubmitTodo(event)"></div>
                <br>
                <span id="errorMsg"></span>

            </form>
          <br>
    
        </header>
        <main id="main">
            <section class="tasklist">
                
                <h1 >MY TO DO LIST </h1>
                <button type="submit" id="del" onclick="deleted(event)">Delete All</button>
                <br>
                <div id="tasks">
        <table class="table table-bordered" id="myTable" >
            <thead>
                <tr>
                    <th>Id</th>
                    <th>ToDo</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="toDoBody">
                <% findAllTodo.forEach((index) =>{%>
                
                    <tr>
                    <td>
                        <%= index.id%>
                    </td>
                    <td>
                        <%= index.todo%>
                    </td>
                    <td>
                        <input type="checkbox" title="check" id="checkboxx"  data-id= "<%-index.id%>" onclick="checkedBox(this)"
                        <%= index.isDone? 'checked':'' %> >
                        <button id="btn" data-todoId="<%-index.id%>" onclick = "getTodo(this)" >Update</button>
                    </td></tr>
        
                  <% })%>
            </tbody>
        </table>
                </div>
            </section>
            
        </main>
        </div>
       
    
</body>
</html>